@{
    ViewData["Title"] = "Angels and Demons";

}

<div class="text-center">
    <h1 class="text-uppercase">Angels and demons</h1>
    <h4> Author - Dan Brown</h4>
    <a href="https://www.pdfdrive.com/search?q=angels+and+demons+dan+brown&pagecount=&pubyear=&searchin=&em=">Download digital version</a>
    <p>Angels & Demons is a 2000 bestselling mystery-thriller novel written by American author Dan Brown and published by Pocket Books and then by Corgi Books. The novel introduces the character Robert Langdon, who recurs as the protagonist of Brown's subsequent novels. Angels & Demons shares many stylistic literary elements with its sequels, such as conspiracies of secret societies, a single-day time frame, and the Catholic Church. Ancient history, architecture, and symbology are also heavily referenced throughout the book. A film adaptation was released on May 15, 2009.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/and.jpg" alt="Movie" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/angel.jpg" alt="Book" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/ang.jpg" alt="A & D" height="400" class="col-md-4 col-lg-4" />
        </div>
    </div>
    <hr />
    <p>The book contains several ambigrams created by real-life typographer John Langdon. Besides the "Angels & Demons" and "Illuminati" designs, the title of the book is also presented as an ambigram on the hardcover book jacket (see illustration at right on this page), and on the inside cover of the paperback versions. The book also contains ambigrams of the words Earth, Air, Fire, and Water, which has served to bring the art of ambigrams to public attention by virtue of the popularity of the book. The "Illuminati Diamond" mentioned in the book is an ambigram of the four elements that are arranged in the shape of a diamond.</p>
    <p>CERN director Maximilian Kohler discovers one of the facility's top physicists, Leonardo Vetra, murdered, his chest branded with an ambigram of the word "Illuminati." Kohler contacts Robert Langdon, an expert on the Illuminati, who determines that the ambigram is authentic. Kohler calls Vetra's adopted daughter Vittoria home and it is ascertained that the Illuminati, an ancient anti-religious organization thought extinct, have stolen a canister containing antimatter, a substance with destructive potential comparable to a nuclear weapon. When at CERN, the canister is stored in a unique electrical charger which ensures the antimatter's stability, but when removed, its backup battery provides power for 24 hours, after which the antimatter would fall out of suspension and, on coming into contact with the physical matter of the container, explode. The canister is located somewhere in Vatican City, with a security camera in front of it, as its digital clock counts down to an explosion due to occur at midnight, which will wipe out the Vatican.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "AThousandSplendidSuns", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "OliverTwist", "Home")</button>
