@{
    ViewData["Title"] = "A Thousand Splendid Suns";

}

<div class="text-center">
    <h2 class="text-uppercase">A thousand splendid suns</h2>
    <h5> Author - Khaled Hosseini</h5>
    <a href="https://www.pdfdrive.com/a-thousand-splendid-suns-e50253777.html">Download digital version</a>

    <p>A Thousand Splendid Suns is a 2007 novel by Afghan-American author Khaled Hosseini. It is his second, following his bestselling 2003 debut, The Kite Runner. Mariam is an illegitimate child, and suffers from both the stigma surrounding her birth along with the abuse she faces throughout her marriage. Laila, born a generation later, is comparatively privileged during her youth until their lives intersect and she is also forced to accept a marriage proposal from Rasheed, Mariam's husband.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/suns1.jpg" alt="HP Series" class="col-md-3 col-lg-3" />
            <img src="~/img/suns3.jpg" alt="A thounsand splendid suns" class="col-md-6 col-lg-6" />
            <img src="~/img/suns2.jpg" alt="Hp Novels" class="col-md-3 col-lg-3" />
        </div>
    </div>
    <hr />
    <p>Hosseini has remarked that he regards the novel as a "mother-daughter story" in contrast to The Kite Runner, which he considers a "father-son story". It continues some of the themes used in his previous work, such as the familial aspects, but focuses primarily on female characters and their roles in Afghan society.</p>
    <p>Earning widespread critical acclaim upon publication, A Thousand Splendid Suns was released on May 22, 2007, and received favorable prepublication reviews from Kirkus Reviews, Publishers Weekly, Library Journal, and Booklist, becoming a number one New York Times bestseller for fifteen weeks following its release.[7] During its first week on the market, it sold over one million copies. Columbia Pictures purchased film rights in 2007 and confirmed intentions to create a movie adaption of the book. The first theatrical adaptation of the book premiered on February 1, 2017, at the American Conservatory Theater in San Francisco, California.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "HarryPotter", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "AngelsAndDemons", "Home")</button>

