@{
    ViewData["Title"] = "Gone Girl";

}

<div class="text-center">
    <h2 class="text-uppercase">Gone Girl</h2>
    <h5> Author - Gillian Flynn</h5>
    <a href="https://www.pdfdrive.com/gone-girl-books.html">Download digital version</a>

    <p>Gone Girl is a thriller novel in the mystery and crime genres, by the American writer Gillian Flynn. It was published by Crown Publishing Group in June 2012. The novel became quite popular and soon made the New York Times Best Seller list. The sense of suspense in the novel comes from whether or not Nick Dunne is involved in the disappearance of his wife Amy.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/gone.jpeg" alt="gone" class="col-md-4 col-lg-4" />
            <img src="~/img/gone2.jpg" alt="gone girl" class="col-md-4 col-lg-4" />
            <img src="~/img/gonegi.jpg" alt="over" class="col-md-4 col-lg-4" />

        </div>
    </div>
    <hr />
    <p>Gone Girl is an example of mystery, suspense, and crime genres. A Reader's Digest review, for instance, notes that the book is "more than just a crime novel". The review goes on to describe Gone Girl as a "masterful psychological thriller" which offers "an astute and thought-provoking look into two complex personalities". A Chicago Tribune review notes that Gone Girl uses many of the devices common to thrillers—a cast of viable suspects, unfolding secrets, and red herrings. However, the novel does more with these devices than the thriller genre requires: "While serving their usual functions, they also do much more, launching us into an unnerving dissection of the fallout of failed dreams."</p>

    <p>A film adaptation was released on October 3, 2014, directed by David Fincher, and written by Flynn herself, with Ben Affleck and Rosamund Pike starring in lead roles. The film was met with both commercial success and widespread critical acclaim.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "Outlander", "Home")</button>
