@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BOOKS CATALOG</h1>
    <p>Presenting to you a collection of my favorite books.</p>
    <span> Happy Reading!</span>
</div>

<div>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Description">HARRY POTTER SERIES </a>

        </li>
        <li>
            <a asp-controller="Home" asp-action="Description">A THOUSAND SPLENDID SUNS</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Description">ANGELS AND DEMONS</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Description">OLIVER TWIST</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Description">PRIDE AND PREJUDICE</a>
        </li>
    </ul>
</div>