@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BOOKS CATALOG</h1>
    <p>Presenting to you a collection of my favorite books.</p>
    <span> Happy Reading!</span>
</div>
