@{
    ViewData["Title"] = "I, Robot";

}

<div class="text-center">
    <h1 class="text-uppercase">I, Robot</h1>
    <h4> Author - Isaac Asimov</h4>
    <a href="https://www.pdfdrive.com/search?q=i%2C+robot+isaac+asimov&pagecount=&pubyear=&searchin=&em=">Download digital version</a>

    <p>I, Robot is a fixup novel of science fiction short stories or essays by American writer Isaac Asimov. The stories originally appeared in the American magazines Super Science Stories and Astounding Science Fiction between 1940 and 1950 and were then compiled into a book for stand-alone publication by Gnome Press in 1950, in an initial edition of 5,000 copies. The stories are woven together by a framing narrative in which the fictional Dr. Susan Calvin tells each story to a reporter (who serves as the narrator) in the 21st century. Although the stories can be read separately, they share a theme of the interaction of humans, robots, and morality, and when combined they tell a larger story of Asimov's fictional history of robotics.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/robot.jpg" alt="Robot" class="col-md-4 col-lg-4" />
            <img src="~/img/robo.jpg" alt="I,Robot" class="col-md-4 col-lg-4" />
            <img src="~/img/ro1.jpg" alt="Isaac Asimov" class="col-md-4 col-lg-4" />
        </div>
    </div>
    <hr />
    <p>Several of the stories feature the character of Dr. Calvin, chief robopsychologist at U.S. Robots and Mechanical Men, Inc., the major manufacturer of robots. Upon their publication in this collection, Asimov wrote a framing sequence presenting the stories as Calvin's reminiscences during an interview with her about her life's work, chiefly concerned with aberrant behaviour of robots and the use of "robopsychology" to sort out what is happening in their positronic brain. The book also contains the short story in which Asimov's Three Laws of Robotics first appear, which had large influence on later science fiction and had impact on thought on ethics of artificial intelligence as well. Other characters that appear in these short stories are Powell and Donovan, a field-testing team which locates flaws in USRMM's prototype models.</p>
    <p> I, Robot's Three Laws "revolutionized the science fiction genre and made robots far more interesting than they ever had been before". I, Robot has influenced many aspects of modern popular culture, particularly with respect to science fiction and technology. One example of this is in the technology industry. The name of the real-life modem manufacturer named U.S. Robotics was directly inspired by I, Robot. The name is taken from the name of a robot manufacturer ("United States Robots and Mechanical Men") that appears throughout Asimov's robot short stories.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "LittleWomen", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "Outlander", "Home")</button>

