@{
    ViewData["Title"] = "Little Women";

}

<div class="text-center">
    <h1 class="text-uppercase">Little Women</h1>
    <h4> Author - Louisa May Alcott</h4>
    <a href="https://www.pdfdrive.com/search?q=little+women+louisa+may+alcott&pagecount=&pubyear=&searchin=&em=">Download digital version</a>
    <p>Little Women is a novel by American author Louisa May Alcott (1832–1888) which was originally published in two volumes in 1868 and 1869. Alcott wrote the book over several months at the request of her publisher. The story follows the lives of the four March sisters—Meg, Jo, Beth, and Amy—and details their passage from childhood to womanhood. It is loosely based on the lives of the author and her three sisters. Scholars classify it as an autobiographical or semi-autobiographical novel.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/little.jpg" alt="Movie" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/little-women-9781534462205_hr.jpg" alt="BookFront" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/Little_Women_(2019_film).jpeg" alt="Little women" height="400" class="col-md-4 col-lg-4" />
        </div>
    </div>
    <hr />
    <p> Little Women was an immediate commercial and critical success, with readers demanding to know more about the characters. Alcott quickly completed a second volume (titled Good Wives in the United Kingdom, although this name originated from the publisher and not from Alcott), and it was also successful. The two volumes were issued in 1880 as a single novel titled Little Women.</p>
    <p>
        Alcott wrote two sequels to her popular work, both of which also featured the March sisters: Little Men (1871) and Jo's Boys (1886). The novel addresses three major themes: "domesticity, work, and true love, all of them interdependent and each necessary to the achievement of its heroine's individual identity". According to Sarah Elbert, Alcott created a new form of literature, one that took elements from Romantic children's fiction and combined it with others from sentimental novels, resulting in a totally new format. Elbert argues that within Little Women can be found the first vision of the "All-American girl" and that her various aspects are embodied in the differing March sisters.
    </p>

</div>


<button type="submit" class="">@Html.ActionLink("Previous Page", "TheAlchemist", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "IRobot", "Home")</button>