@{
    ViewData["Title"] = "Oliver Twist";

}

<div class="text-center">
    <h1 class="text-uppercase">Oliver Twist</h1>
    <h4> Author - Charles Dickens</h4>
    <a href="https://www.pdfdrive.com/search?q=oliver+twist+by+charles+dickens&pagecount=&pubyear=&searchin=&em=">Download digital version</a>
    <p>Oliver Twist; or, the Parish Boy's Progress is Charles Dickens's second novel, and was published as a serial from 1837 to 1839 and released as a three-volume book in 1838, before the serialization ended. The story centres on orphan Oliver Twist, born in a workhouse and sold into apprenticeship with an undertaker. After escaping, Oliver travels to London, where he meets the "Artful Dodger", a member of a gang of juvenile pickpockets led by the elderly criminal Fagin.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/oliver.jpg" alt="Oliver Twist" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/074-Oliver-Twist-Poster.jpg" alt="Movie poster" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/oliver1.jpg" alt="Oliver" height="400" class="col-md-4 col-lg-4" />
        </div>
    </div>
    <hr />
    <p>Oliver Twist is notable for its unromantic portrayal of criminals and their sordid lives, as well as for exposing the cruel treatment of the many orphans in London in the mid-19th century. The alternative title, The Parish Boy's Progress, alludes to Bunyan's The Pilgrim's Progress, as well as the 18th-century caricature series by William Hogarth, A Rake's Progress and A Harlot's Progress.</p>
    <p>In this early example of the social novel, Dickens satirises the hypocrisies of his time, including child labour, domestic violence, the recruitment of children as criminals, and the presence of street children. The novel may have been inspired by the story of Robert Blincoe, an orphan whose account of working as a child labourer in a cotton mill was widely read in the 1830s. It is likely that Dickens's own experiences as a youth contributed as well.</p>
    <p>Oliver Twist has been the subject of numerous adaptations for various media, including a highly successful musical play, Oliver!, and the multiple Academy Award-winning 1968 motion picture. Disney also put its spin on the novel with the animated film called Oliver & Company in 1988.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "AngelsAndDemons", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "TheAlchemist", "Home")</button>

