@{
    ViewData["Title"] = "Outlander";

}

<div class="text-center">
    <h1 class="text-uppercase">Outlander</h1>
    <h4> Author - Diana Gabaldon</h4>
    <a href="https://www.pdfdrive.com/search?q=outlander+diana+gabaldon&pagecount=&pubyear=&searchin=&em=">Download digital version</a>

    <p>Outlander (published in the United Kingdom as Cross Stitch) is the first in a series of eight historical multi-genre novels by Diana Gabaldon. Published in 1991, it focuses on the Second World War-era nurse Claire Randall, who travels through time to 18th century Scotland and finds adventure and romance with the dashing Jamie Fraser. A mix of several genres, the Outlander series has elements of historical fiction, romance, adventure and fantasy.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/outl.jpg" alt="Outlander" class="col-md-7 col-lg-7" />
            <img src="~/img/Outlandernew.jpg" alt="BookCover" class="col-md-5 col-lg-5" />
            
        </div>
    </div>
    <hr />
    <p>Publishers Weekly said of Outlander, "Absorbing and heartwarming, this first novel lavishly evokes the land and lore of Scotland, quickening both with realistic characters and a feisty, likable heroine. With 25 million copies sold, Outlander is one of the best-selling book series of all time. Outlander won the Romance Writers of America's RITA Award for Best Romance of 1991.</p>
    
    <p> In June 2013, Starz ordered 16 episodes of a television adaptation, and production began in October 2013 in Scotland. The series premiered in the US on August 9, 2014. It was picked up for a second season on August 15, 2014, and for a third and fourth season on June 1, 2016. On May 9, 2018, Starz renewed the series for a fifth and sixth season.</p>
</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "IRobot", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "GoneGirl", "Home")</button>