@{
    ViewData["Title"] = "The Alchemist";

}

<div class="text-center">
    <h2 class="text-uppercase">The Alchemist</h2>
    <h5> Author - Paulo Coelho</h5>
    <a href="https://www.pdfdrive.com/search?q=the+alchemist+paulo+ceolho&pagecount=&pubyear=&searchin=&em=&more=true">Download digital version</a>
    <p>The Alchemist (Portuguese: O Alquimista) is a novel by Brazilian author Paulo Coelho that was first published in 1988. Originally written in Portuguese, it became a widely translated international bestseller. An allegorical novel, The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, after having a recurring dream of finding a treasure there.</p>
    <hr />
    <div class="container">
        <div class="row">

            <img src="~/img/moebius-alchemist-2.jpg" alt="Movie" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/alchemist.jpg" alt="Book" height="400" class="col-md-4 col-lg-4" />
            <img src="~/img/alch.jpg" alt="A & D" height="400" class="col-md-4 col-lg-4" />
        </div>
    </div>
    <hr />
    <p>The Alchemist follows the journey of an Andalusian shepherd boy named Santiago. Believing a recurring dream to be prophetic, he asks a Gypsy fortune teller in the nearby town about its meaning. The woman interprets the dream as a prophecy telling the boy that he will discover a treasure at the Egyptian pyramids.</p>
    <p>
        Coelho wrote The Alchemist in only two weeks in 1987. He explained that he was able to write at this pace because the story was "already written in his soul."

        The book's main theme is about finding one's destiny, although according to The New York Times, The Alchemist is "more self-help than literature". The advice given Santiago that "when you really want something to happen, the whole universe will conspire so that your wish comes true" is the core of the novel's philosophy and a motif that plays throughout it.
    </p>

</div>

<button type="submit" class="">@Html.ActionLink("Previous Page", "OliverTwist", "Home")</button>

<button type="submit" class="">@Html.ActionLink("Next Page", "LittleWomen", "Home")</button>
