@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h5>Login to your existing account</h5>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <div class="input-group">
                        <span><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
                        <input asp-for="Input.Email" class="form-control" placeholder="Enter username or email ID"/>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <div class="input-group">
                        <span><i class="fa fa-key fa-fw fa-2x"></i></span>
                        <input asp-for="Input.Password" class="form-control" placeholder="Enter password" />
                    </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">

                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>

</form>
        </section>
    </div>
    

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
