

@model BookCatalogNew.Models.Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Add reviews and ratings!</h1>


<fieldset>
    <form asp-action="Create" asp-controller="Review">


        <div asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="BookName"></label>
            <select asp-for="BookName" id="books" name="BookName">
                <option value="Harry Potter Series">Harry Potter Series</option>
                <option value="A thousand splendid suns">A thousand splendid suns</option>
                <option value="Angels and demons">Angels and demons</option>
                <option value="Oliver Twist">Oliver Twist</option>
                <option value="The Alchemist">The Alchemist</option>
                <option value="Little Women">Little Women</option>
                <option value="I, Robot">I, Robot</option>
                <option value="Outlnder">Outlnder</option>
                <option value="Gone Girl">Gone Girl</option>
            </select>
        </p>
        <p>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Review Title" />
            <span asp-validation-for="Title"></span>
        </p>

        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="Enter reviews"></textarea>
            <span asp-validation-for="Body"></span>
        </p>

        <p>
            <label asp-for="Rating"></label>
            <div class="ratings">
                <span id="span1"  class="fa fa-star-o"> </span>
                <span id="span2"  class="fa fa-star-o"> </span>
                <span id="span3"  class="fa fa-star-o"> </span>
                <span id="span4"  class="fa fa-star-o"> </span>
                <span id="span5"  class="fa fa-star-o"> </span>
            </div>
            
             <input asp-for="Rating" class="form-control" type="text" id="rating-value" />
            
            <span asp-validation-for="Rating"></span>
        </p>

        <p>
            <button type="submit">Submit Review</button>
        </p>
    </form>

    <script src="~/js/Script.js"></script>

</fieldset>
